htmnl {
  scroll-behavior: auto;
}

body {
  margin: 0;
  height: 100svh;
}
h1 {
  font-size: 3em;
  color: black;
}
h2 {
  font-size: 1.8em;
  color: black;
}
p {
  font-size: 1.3em;
  color: black;
}

#header {
  display: flex;
  height: 80px;
  padding: 0 8em;
  position: fixed;
  box-shadow: 0 4px 8px 4px #eaeaea;
  background-color: #fff;
  width: calc(100% -16em);
}
.header-brand {
  width: 20%;
  height: 100%;
}
.header-brand h3 {
  font-size: 1.4em;
  margin: 0;
  color: #07080f;
}
.header-menu {
  width: 80%;
  padding-top: 1.7em;
  text-align: end;
}
.header-menu a {
  color: #4a4a4a;
  font-size: 1.2em;
  text-decoration: none;
}
#hero {
  height: inherit;
  display: flex;
  padding-top: 10em;
}
.img-container {
  min-width: 500px;
  min-height: 500px;
}
.profile {
  width: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
  clip-path: circle(48%);
  transition: 0.3s;
  object-position: right;
}
.profile:hover {
  clip-path: circle(50%);
}
.info {
  padding-top: 5em;
}
#about {
  height: 50svh;
  padding: 4em 2em;
  background-color: #f7f7f7;
}
#about h2 {
  color: #07080f;
}
.skills {
  display: flex;
}
.skills img {
  width: auto;
  height: 100px;
  filter: brightness(0);
  margin: 8px;
  transition: 0.3s;
}

@media screen and( max-width: 375px) and (orientation: portrait) {
  #header {
    padding: 0 4em;
    width: calc(100% -8em);
  }
  .header-brand {
    width: 40%;
  }
  .header-menu {
    width: 60%;
  }
  #hero {
    flex-direction: column;
  }
  .img-container {
    min-height: unset;
    min-width: unset;
    width: 100%;
    padding: 0;
  }
  .profile {
    margin: 0 10%;
  }
  .info {
    padding-top: 0;
    padding-left: 2em;
  }
}
